header {
    background-color: #000000;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
}

.divHeader {
    margin-left: 6vw;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    column-gap: 52.5vw;
}

.containerLeft {
    display: flex;
    column-gap: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: right;
}

.aData {
    text-decoration: none;
    color: white;

}